@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background: white; }

header img {
  width: 100%; }
header .twoPng {
  display: none; }

@media screen and (max-width: 750px) {
  header .twoPng, .lgSuContent .twoPng, .rgSuContent .twoPng {
    display: block; }
  header .threePng, .lgSuContent .threePng, .rgSuContent .threePng {
    display: none; } }
@media screen and (min-width: 751px) and (max-width: 1125px) {
  header .twoPng, .lgSuContent .twoPng, .rgSuContent .twoPng {
    display: none; }
  header .threePng, .lgSuContent .threePng, .rgSuContent .threePng {
    display: block; } }

.loginContent {
  width: 12.74317rem;
  height: 3.89071rem;
  margin: 0 auto; }
  .loginContent .loginTel, .loginContent .loginPwd {
    width: 100%;
    height: 1.9235rem;
    line-height: 1.9235rem;
    border-bottom: 0.02186rem solid gray;
    overflow: hidden;
    zoom: 1; }
    .loginContent .loginTel > input, .loginContent .loginPwd > input {
      width: 75%;
      height: 1.9235rem;
      border: none;
      background: none;
      outline: none;
      font-size: 0.59016rem;
      font-family: "宋体";
      float: left;
      padding-left: 0.24044rem; }
    .loginContent .loginTel > span, .loginContent .loginPwd > span {
      margin-top: 0.65574rem;
      display: inline-block;
      width: 0.78689rem;
      height: 0.78689rem;
      background: #CDCED4;
      text-align: center;
      line-height: 0.78689rem;
      color: white;
      font-size: 0.32787rem;
      border-radius: 2.18579rem; }
  .loginContent > div:nth-of-type(1) > span {
    float: right;
    margin-right: 0.10929rem; }
  .loginContent > div:nth-of-type(2) > span {
    margin-right: 0.69945rem;
    float: right; }
  .loginContent > div:nth-of-type(2) > img {
    display: none;
    width: 0.91803rem;
    float: right;
    margin-top: 0.65574rem; }
  .loginContent > div:nth-of-type(2) > img:nth-of-type(1) {
    display: block; }
  .loginContent .forgetPwd {
    width: 100%;
    height: 2.3388rem;
    line-height: 2.3388rem;
    margin-bottom: 0.65574rem; }
    .loginContent .forgetPwd a {
      font-size: 0.59016rem;
      color: #F67A5B;
      text-decoration: none;
      font-family: arial;
      float: right;
      margin-right: 0.10929rem; }
  .loginContent .registImadia {
    width: 100%;
    height: 0.59016rem;
    text-align: center;
    font-size: 0.59016rem;
    font-family: arial;
    color: #9A95A4; }
    .loginContent .registImadia span {
      color: orangered; }
  @media screen and (max-width: 750px) {
    .loginContent .eyeBC {
      display: none; }
    .loginContent .eyeSC {
      display: block; } }
  @media screen and (min-width: 750px) and (max-width: 1125px) {
    .loginContent .eyeBC {
      display: block; }
    .loginContent .eyeSC {
      display: none; } }

.Login {
  margin-bottom: 2.18579rem;
  width: 12.74317rem;
  height: 1.9235rem; }
  .Login > button, .Login > div {
    position: absolute;
    width: 8.74317rem;
    height: 1.9235rem;
    left: 18%; }

.btn {
  text-align: center;
  position: relative;
  overflow: hidden; }
  .btn > button, .btn > div {
    color: white;
    font-size: 0.59016rem;
    font-family: arial;
    outline: none;
    border: none;
    border-radius: 1.0929rem;
    background: linear-gradient(to right, orangered, orange); }
  .btn > button {
    z-index: 2; }
  .btn > div {
    margin: 0 auto;
    z-index: 1;
    box-shadow: 0 0 0.21858rem 0 orangered; }

.logCommit {
  float: left;
  font-size: 0.65574rem; }

.loginTelLine {
  width: 100%;
  height: 1.9235rem;
  border-bottom: 0.02186rem solid orange;
  position: absolute; }

.LineBox {
  width: 0.32787rem;
  height: 0.32787rem;
  background: white;
  position: absolute;
  right: 0; }

.loginPwdLine {
  width: 100%;
  height: 1.9235rem;
  position: absolute;
  top: 1.9235rem;
  border-bottom: 0.02186rem solid orange; }

.lgSuContent {
  width: 100%;
  height: 100%;
  text-align: center;
  background: white;
  border: 1px solid white;
  box-sizing: border-box; }
  .lgSuContent > .twoPng, .lgSuContent > .threePng {
    width: 5.00546rem;
    margin: 4.48087rem auto 1.37705rem; }
  .lgSuContent > div:nth-of-type(1) {
    font-size: 0.69945rem;
    margin-bottom: 0.72131rem;
    font-family: "宋体"; }
  .lgSuContent > div:nth-of-type(2) {
    font-size: 0.54645rem;
    margin-bottom: 2.88525rem;
    color: darkgray;
    font-family: "宋体"; }
  .lgSuContent .install {
    width: 12.74317rem;
    height: 1.9235rem;
    margin: 0 auto 6.55738rem; }
    .lgSuContent .install > button, .lgSuContent .install > div {
      position: absolute;
      width: 8.74317rem;
      height: 1.9235rem;
      left: 18%; }
    .lgSuContent .install > div {
      margin: 0 auto;
      z-index: 1;
      box-shadow: 0 0 0.21858rem 0 orangered; }
  .lgSuContent img {
    width: 3.38798rem; }

.registerContent {
  width: 12.74317rem;
  margin: 0 auto; }
  .registerContent .registerCode {
    overflow: hidden;
    zoom: 1;
    position: relative; }
    .registerContent .registerCode > input {
      position: absolute;
      z-index: 1; }
    .registerContent .registerCode > div {
      right: 0.21858rem; }
  .registerContent .registerPicture {
    position: relative; }
    .registerContent .registerPicture > div {
      position: absolute;
      right: 0.21858rem;
      top: 0.32787rem;
      width: 3.93443rem;
      height: 1.31148rem;
      border: 0.02186rem solid gray; }
  .registerContent .registerTel, .registerContent .registerPicture, .registerContent .registerCode, .registerContent .registerPwd, .registerContent .recommit, .registerContent .agree_protocal {
    width: 100%;
    height: 1.9235rem;
    line-height: 1.9235rem;
    border-bottom: 0.02186rem solid gray;
    font-size: 0.59016rem;
    font-family: "宋体"; }
    .registerContent .registerTel > input, .registerContent .registerPicture > input, .registerContent .registerCode > input, .registerContent .registerPwd > input, .registerContent .recommit > input, .registerContent .agree_protocal > input {
      width: 75%;
      height: 1.9235rem;
      border: none;
      background: none;
      outline: none;
      font-size: 0.59016rem;
      font-family: "宋体";
      float: left;
      padding-left: 0.24044rem; }
  .registerContent .get_code {
    top: 0.32787rem;
    height: 1.31148rem; }
    .registerContent .get_code > button, .registerContent .get_code > div {
      position: absolute;
      right: 0;
      z-index: 2;
      margin-right: 0.21858rem;
      width: 3.93443rem;
      height: 1.31148rem; }
    .registerContent .get_code > div {
      z-index: 1;
      box-shadow: 0 0 0.21858rem 0 orangered; }
  .registerContent .register {
    width: 12.74317rem;
    height: 1.9235rem;
    margin-bottom: 0.8306rem; }
    .registerContent .register > button, .registerContent .register > div {
      position: absolute;
      width: 8.74317rem;
      height: 1.9235rem;
      left: 18%; }
    .registerContent .register > div {
      margin: 0 auto;
      z-index: 1;
      box-shadow: 0 0 0.21858rem 0 orangered; }
  .registerContent .recommit, .registerContent .agree_protocal {
    border-bottom: none; }
  .registerContent .recommit {
    color: yellow; }
  .registerContent .hadAccount {
    width: 100%;
    font-size: 0.59016rem;
    color: orange;
    text-align: center; }

.rgSuContent {
  width: 100%;
  height: 100%;
  text-align: center;
  background: white; }
  .rgSuContent > .twoPng, .rgSuContent > .threePng {
    width: 5.00546rem;
    margin: 4.48087rem auto 1.37705rem; }
  .rgSuContent > div:nth-of-type(1) {
    font-size: 0.69945rem;
    margin-bottom: 0.72131rem;
    font-family: "宋体"; }
  .rgSuContent > div:nth-of-type(2) {
    font-size: 0.54645rem;
    margin-bottom: 2.88525rem;
    color: darkgray;
    font-family: "宋体"; }
  .rgSuContent .install {
    width: 12.74317rem;
    height: 1.9235rem;
    margin: 0 auto; }
    .rgSuContent .install > button, .rgSuContent .install > div {
      position: absolute;
      width: 8.74317rem;
      height: 1.9235rem;
      left: 18%; }
    .rgSuContent .install > div {
      margin: 0 auto;
      z-index: 1;
      box-shadow: 0 0 0.21858rem 0 orangered; }
  .rgSuContent .logo_success {
    text-align: center;
    position: absolute;
    bottom: 1.31148rem;
    text-align: center; }
    .rgSuContent .logo_success img {
      width: 3.38798rem; }

.changeContent {
  width: 12.74317rem;
  margin: 0 auto; }
  .changeContent .changeCode {
    overflow: hidden;
    zoom: 1;
    position: relative; }
    .changeContent .changeCode > input {
      position: absolute;
      z-index: 1; }
    .changeContent .changeCode > div {
      right: 0.21858rem; }
  .changeContent .changePicture {
    position: relative; }
    .changeContent .changePicture > div {
      position: absolute;
      right: 0.21858rem;
      top: 0.32787rem;
      width: 3.93443rem;
      height: 1.31148rem;
      border: 0.02186rem solid gray; }
      .changeContent .changePicture > div img {
        width: 100%; }
  .changeContent .changeTel, .changeContent .changePicture, .changeContent .changeCode, .changeContent .changePwd {
    width: 100%;
    height: 1.9235rem;
    line-height: 1.9235rem;
    border-bottom: 0.02186rem solid gray;
    font-size: 0.59016rem;
    font-family: "宋体"; }
    .changeContent .changeTel > input, .changeContent .changePicture > input, .changeContent .changeCode > input, .changeContent .changePwd > input {
      width: 75%;
      height: 1.9235rem;
      border: none;
      background: none;
      outline: none;
      font-size: 0.59016rem;
      font-family: "宋体";
      float: left;
      padding-left: 0.24044rem; }
  .changeContent .got_code {
    top: 0.32787rem;
    height: 1.31148rem; }
    .changeContent .got_code > button, .changeContent .got_code > div {
      position: absolute;
      right: 0;
      z-index: 2;
      margin-right: 0.21858rem;
      width: 3.93443rem;
      height: 1.31148rem; }
    .changeContent .got_code > div {
      z-index: 1;
      box-shadow: 0 0 0.21858rem 0 orangered; }
  .changeContent .change {
    width: 12.74317rem;
    height: 1.9235rem;
    margin-top: 2.68852rem; }
    .changeContent .change > button, .changeContent .change > div {
      position: absolute;
      width: 8.74317rem;
      height: 1.9235rem;
      left: 18%; }
    .changeContent .change > div {
      margin: 0 auto;
      z-index: 1;
      box-shadow: 0 0 0.21858rem 0 orangered; }

.changeCommit {
  font-size: 0.65574rem; }

/*# sourceMappingURL=all.css.map */
