@charset "UTF-8";
.loginContent{
    width: rem(583);
    height: rem(178);
    margin: 0 auto;
    .loginTel,.loginPwd{
        width:100%;
        height: rem(88);
        line-height: rem(88);
        border-bottom:rem(1) solid gray;
        overflow: hidden;
        zoom: 1;
        &>input{
            width: 75%;
            height: rem(88);
            border: none;
            background: none;
            outline: none;
            font-size: rem(27);
            font-family: "宋体";
            float: left;
            padding-left: rem(11);
        }
        &>span{
            margin-top: rem(30);
            display: inline-block;
            width: rem(36);
            height: rem(36);
            background: #CDCED4;
            text-align: center;
            line-height: rem(36);
            color: white;
            font-size: rem(15);
            border-radius: rem(100);
        }
    }
    &>div:nth-of-type(1){
        &>span{
            float: right;
            margin-right: rem(5);
        }
    }
     &>div:nth-of-type(2){
        &>span{
            margin-right: rem(32);
            float: right;
        }
        &>img{
            display: none;
            width: rem(42);
            float: right;
            margin-top: rem(30);
        }
        &>img:nth-of-type(1){
            display: block;
        }
    }
    .forgetPwd{
        width: 100%;
        height: rem(107);
        line-height: rem(107);
        margin-bottom: rem(30);
        
        a{
            font-size: rem(27);
            color: #F67A5B;
            text-decoration: none;
            font-family: arial;
            float: right;
            margin-right: rem(5);
        }
    }
    .registImadia{
        width: 100%;
        height: rem(27);
        text-align: center;
        font-size: rem(27);
        font-family: arial;
        color: #9A95A4;
        span{
            color: orangered;
        }
    }
    $small-width:750px;
    $large-width:1125px;
    @mixin response($width){
        @if $width==$small-width{
            @media screen and (max-width:$width){@content;}
        }@else if $width==$large-width{
            @media screen and (min-width:$small-width) and (max-width:$width){@content;}
        }
    }
    @include response($small-width){
        .eyeBC{
            display: none;
        }
        .eyeSC{
            display: block;
         }
    }
    @include response($large-width){
          .eyeBC{
            display: block;
        }
        .eyeSC{
            display: none;
         }
    }
}
.Login{
        margin-bottom: rem(100);
        width: rem(583);
        height: rem(88);
        &>button,&>div{
            position: absolute;
             width: rem(400);
            height: rem(88);
            left: 18%;
        }
    }
.btn{
        text-align: center;
        position: relative;
        overflow: hidden;
        &>button,&>div{
            color: white;
            font-size: rem(27);
            font-family: arial;
            outline: none;
            border: none;
            border-radius: rem(50);
            background: linear-gradient(to right,orangered,orange);
        }
        &>button{
            z-index: 2;
        }
        &>div{
            margin: 0 auto;
            z-index: 1;
            box-shadow: 0 0 rem(10) 0 orangered;
        }
    }
.logCommit{
    float:left;
    font-size: rem(30);
}
.loginTelLine{
    width:100%;
    height: rem(88);
    border-bottom:rem(1) solid orange;
    position: absolute;
}
.LineBox{
    width: rem(15);
    height: rem(15);
    background: white;
    position: absolute;
    right: 0;
}
.loginPwdLine{
    width:100%;
    height: rem(88);
    position: absolute;
    top: rem(88);
    border-bottom:rem(1) solid orange;
}
